.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
}
.detail img{
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: contain;
    display: block;
}

.box-detail{
    max-width: 500px;
    width: 100%;
    margin:20px;
}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box-detail h2{
    text-transform: uppercase;
    color: darkblue;
    letter-spacing: 2px;
    
}
.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.0;
}
.box-detail .cart{
    background: #555;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    padding:10px 10px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

